In [ ]:
#SELECT * from telematics;

#SELECT * from telematics where Roll <= 1904810 and Roll >= 1904800;
#SELECT * from telematics where Roll >= 1904800 limit 10;

In [ ]:
--SELECT * from telematics;
--SELECT * from telematics where Roll <= 1904810 and Roll >= 1904800;
--SELECT * from telematics where Roll >= 1904800 limit 10;
--SELECT * from telematics limit 11 offset 9;
--SELECT * from telematics where Name like "d%" or Name like "a%" or Name like "g%"; --a d g
--SELECT * from telematics where Roll BETWEEN 1904800 and 1904810;--'BETWEEN' and 'and' 
--SELECT * from telematics where Name between "A%" and "E%" order by Name;

In [ ]:
create table test (id INTEGER PRIMARY KEY, 
				   Name char,
				   Gender char,
				   DOB date,
				   email char);

In [ ]:
--insert into test values (3, "Rishabh", "M", "15/06/2001","GEF@gmail.com"	);
--CREATE table NEW_TABLE (id INTEGER PRIMARY key AUTOINCREMENT,
                    --Name Text);