In [1]:
import sqlite3

In [2]:
pwd

'/home/mrikum7/Telematics/PyDaViMa-2020/Codes'

In [3]:
cd ../SQLite/

/home/mrikum7/Telematics/PyDaViMa-2020/SQLite

In [4]:
ls

database.db  music.db  SQL-cheat-sheet.pdf  telematics.csv  telematics.db

In [5]:
conn = sqlite3.connect("telematics.db")

In [9]:
conn.execute('select * from telematics limit 1 offset 2;').fetchall()

[(1904793, 'ANKIT BHADORIYA')]

In [10]:
conn.execute('''create table Sports(id integer primary key, 
                                   Name text,
                                   nop integer);''') #Sports id, Name, NOP

In [11]:
conn.commit()

In [12]:
conn.execute("select * from Sports;").fetchall()

[]

In [38]:
conn.execute("insert into Sports (Name, nop) values ('Cricker', 11);")

In [18]:
conn.execute('select * from Sports;').fetchall()

[(1, 'Cricket', 11)]

In [39]:
conn.execute("update Sports set Name = 'Cricket' where Name = 'Cricker';")

In [40]:
conn.execute('''insert into Sports (Name, nop) values 
                                    ('Hockey', 11),
                                    ('Basket Ball', 7),
                                    ('Badminton', 2);''')

In [22]:
def select(connection):
    return connection.execute('select * from Sports;').fetchall()

In [23]:
select(conn)

[(1, 'Cricket', 11),
 (2, 'Hockey', 11),
 (3, 'Basket Ball', 7),
 (4, 'Badminton', 2)]

In [34]:
conn.execute("""update Sports set Name = 'BasketBall' where id = 3;""")

In [35]:
select(conn)

[(1, 'Cricket', 11),
 (2, 'Hockey', 11),
 (3, 'BasketBall', 7),
 (4, 'Badminton', 2)]

In [27]:
conn.execute('ROLLBACK')

In [33]:
select(conn)

[(1, 'Cricket', 11),
 (2, 'Hockey', 11),
 (3, 'Basket Ball', 7),
 (4, 'Badminton', 2)]

In [36]:
conn.execute('''update Sports set Name = Name + " 11"; ''')

In [46]:
select(conn)

[(1, 'Cricket', 11),
 (2, 'Hockey', 11),
 (3, 'Basket Ball', 7),
 (4, 'Badminton', 2)]

In [42]:
conn.execute('delete from Sports where id between 1 and 4;')

In [45]:
conn.execute('''update Sports set id = id - 4;''')

In [ ]:
conn.execute('''update Sports set id = 1 where id = 5;''')

In [47]:
conn.execute('''select id, length(Name), nop from Sports;''').fetchall()

[(1, 7, 11), (2, 6, 11), (3, 11, 7), (4, 9, 2)]