## Sqlite with Python Classes

In [1]:
import sqlite3

In [2]:
pwd

'/home/mrikum7/Telematics/PyDaViMa-2020/Codes'

In [3]:
cd ../SQLite/

/home/mrikum7/Telematics/PyDaViMa-2020/SQLite

In [4]:
ls

database.db  SQL-cheat-sheet.pdf  telematics.db
music.db     telematics.csv       telematics.db-journal

In [5]:
conn = sqlite3.connect("telematics.db")

In [6]:
conn

In [7]:
from sqlite3 import Connection

In [8]:
Connection

sqlite3.Connection

In [67]:
class Derived(Connection):
    def __init__(self, database):
        self.database = database
        super().__init__(self.database)
        sql = """create table if not exists Students (
                            Name TEXT, 
                            Age INTEGER,
                            Gender CHAR);"""
        self.execute(sql)
        
    def print_data(self):
        return self.execute('select * from Students;').fetchall()
    
    def insert(self, name, age, gender):
        sql = """insert into Students (Name, Age, Gender) 
                  values ('{}', {}, '{}')""".format(name, age, gender)
        self.execute(sql)
        
    def delete(self, name, age, gender):
        sql = """delete from Students where Name = '{}' and
                 Age = {} and Gender = '{}';""".format(name, age, gender)
        self.execute(sql)
        
    def update(self, name, age, gender):
        sql = """update Students set Age = Age + 1 where Name = '{}' and Gender = '{}'""".format(name, gender)
        self.execute(sql)
a = Derived('tele.db')

In [52]:
a.insert('ABC', 20, 'F')

In [70]:
a.print_data()

[('ABC', 21, 'F'), ('ABC', 21, 'F'), ('ABC', 21, 'F')]

In [69]:
a.update('ABC', 20, 'F')

In [65]:
a.commit()

In [47]:
a.delete('DEF', 21, 'M')

In [66]:
a.close()