## Issuing Books to Customers

In [2]:
pwd

'/home/mrikum7/Telematics/PyDaViMa-2020/Codes'

In [1]:
cd ../SQLite/

/home/mrikum7/Telematics/PyDaViMa-2020/SQLite

In [25]:
from sqlite3 import Connection

class Library(Connection):
    def __init__(self, file):
        super().__init__(file)
        sql1 = """create table if not exists Customer(
                        CustomerId integer primary key,
                        Name varchar(50),
                        contact integer,
                        Address varchar(100));"""
        sql2 = """create table if not exists Books(
                        BookId integer primary key,
                        BookName Varchar(50),
                        Author varchar(50),
                        NOP integer,
                        CustomerId integer);"""
        self.execute(sql1)
        self.execute(sql2)
    
    def printBooks(self):
        sql = """select * from Books;"""
        return self.execute(sql).fetchall()
    
    def printCustomers(self):
        sql = """select * from Customer;"""
        return self.execute(sql).fetchall()
    
    def custIdfromName(self, Name):
        sql = f"select CustomerId, Name from Customer where Name like '%{Name}%'"
        return self.execute(sql).fetchall()
    
    def custIdfromContact(self, contact):
        sql = f"select CustomerId, Name, contact from Customer where contact = {contact}"
        return self.execute(sql).fetchall()
    
    def bookIdfromName(self, Name):
        sql = f"select BookId, BookName from Books where BookName like '%{Name}%'"
        return self.execute(sql).fetchall()
    
    def issueBook(self, BookId, CustomerId):
        sql = f"update Books set CustomerId = {CustomerId} where BookId = {BookId}"
        self.execute(sql)
    
obj = Library('Library.db')

In [15]:
obj.printBooks()

[(1, 'A Brief History of Time', 'Stephen Hawking', 350, None),
 (2, 'The Power of Now', 'Eckhart Tolle', 250, None),
 (3, 'The Monk Who sold his Ferrari', 'Robin Sharma', 200, None),
 (4, 'Rich Dad Poor Dad', 'Robert Kiyosaki', 450, 5),
 (5, 'The Hound of Baskervilles', 'Arthur Conan Doyle', 300, None)]

In [6]:
obj.execute('select * from Customer;').fetchall()

[(1, 'ABC DEF', 1234567890, 'ABC DEF GHI JKL'),
 (2, 'GHI DFR', 1234567890, ''),
 (3, 'Harry Potter', 8024727382, 'England'),
 (4, 'Iron man', 3245678901, 'New York'),
 (5, 'Tony Stark', 7572846374, 'America')]

In [26]:
obj.issueBook(obj.bookIdfromName('Brief')[0], 3)

OperationalError: row value misused

In [24]:
obj.close()