In [14]:
student = {'name' : 'Devdutt',
           'sem' : 3}

In [15]:
dir(student)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [17]:
student['name']

'Devdutt'

In [23]:
for key in student.keys():
    print(key)

name
sem

In [37]:
def function(a, b, c, *args):
    print(f"a : {a}, b : {b}, c : {c}, args : {args} ")

In [38]:
function(10, 20, 30, 40, 50, 60)

a : 10, b : 20, c : 30, args : (40, 50, 60)

In [39]:
def function(a, b, c, **kwargs):
    print(f"a : {a}, b : {b}, c : {c}, kwargs : {kwargs} ")

In [41]:
function(10, 20, 30, name = "ABC", CLASS = 10, SEM = 3)

a : 10, b : 20, c : 30, kwargs : {'name': 'ABC', 'CLASS': 10, 'SEM': 3}

In [42]:
dict(name = "ABC", CLASS = 10, SEM = 3)

{'name': 'ABC', 'CLASS': 10, 'SEM': 3}

In [44]:
import pandas as pd
import numpy as np

In [45]:
array = np.asarray([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [48]:
df = pd.DataFrame(array)

In [49]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [53]:
df.to_csv('file.csv', index = None, header = None)

In [59]:
def argkwDemo(a, b, *args, **kwargs):
    print(f"a : {a}, b : {b}, \
          args : {args}, kwargs : {kwargs}")

In [60]:
argkwDemo(10, 20, name = "Physics", 30, 40)

SyntaxError: positional argument follows keyword argument (<ipython-input-60-134c825b37ea>, line 1)