## Stream 19 Update, delete, case, in and subquerying

In [ ]:
--SELECT Composer from tracks where AlbumId in (SELECT AlbumId from albums);

In [ ]:
--CREATE table telematics2 (Roll INTEGER PRIMARY KEY, name TEXT);
--INSERT into telematics2 (Roll, Name) SELECT Roll, Name from telematics LIMIT 40 OFFSET 1;

In [ ]:
SELECT Composer, CASE Composer WHEN "AC/DC" THEN "Best" WHEN "Steve Harris" THEN "Second Best" ELse "LAST" END Artist from tracks;

In [ ]:
update test1 set Composer = "Harsh Agarwal" where TrackId = 3501;

In [ ]:
update test1 set Composer = "Harsh Agarwal" where TrackId BETWEEN 3501 and 3510;
-- Write a query to change Composer to Harsh Agarwal 3501 - 3510.

In [ ]:
-- Write a query which deletes rows having Wild in Name;

DELETE from test1 where Name like "%wild%";