In [ ]:
create table Customer(CustomerId INTEGER PRIMARY KEY,
						Name TEXT,
						Contact INTEGER,
						Address TEXT);

In [2]:
pwd

'/home/mrikum7/Telematics/PyDaViMa-2020/Codes'

In [3]:
cd ../SQLite/

/home/mrikum7/Telematics/PyDaViMa-2020/SQLite

In [36]:
from sqlite3 import Connection

class Library(Connection):     
    def __init__(self, file):
        super().__init__(file)
        sql1 = """create table if not exists Books(
                    BookId Integer Primary Key,
                    Name Varchar(50),
                    Author Varchar(50),
                    NOP integer);""" ##Create Books table with BookId, Name, Author, NOP
        self.execute(sql1)
        sql2 = """create table if not exists Customer(
                    CustomerId Integer Primary Key,
                    Name Varchar(50),
                    Contact integer,
                    Address Varchar(100));"""
        self.execute(sql2)
    
    def insertBook(self, Name, Author, NOP):
        sql = f"insert into Books(Name, Author, NOP) values('{Name}', '{Author}', {NOP})"
        self.execute(sql) 
    
    def printBooks(self):
        sql = "select * from Books;"
        return self.execute(sql).fetchall()
    
    def deleteBook(self, BookId): 
        sql = f"delete from Books where BookId = {BookId}"
        self.execute(sql)
    
    def insertCustomer(self, Name, Contact, Address):
        sql = f"insert into Customer(Name, Contact, Address) values('{Name}', '{Contact}', '{Address}');"
        self.execute(sql)
    
    def printCustomer(self):
        sql = "select * from Customer;"
        return self.execute(sql).fetchall()
    
    def deleteCustomer(self, CustomerId):
        sql = f"delete from Customer where CustomerId = {CustomerId}"
        self.execute(sql)
    
obj = Library('Python_Library.db')

In [31]:
obj.insertBook("Brief History of Time", "Stephen Hawking", 350)

In [37]:
obj.printBooks() ## DHA4 : Identify why print_All() method 
                ##        is not working and fix it

[(1, 'Brief History of Time', 'Stephen Hawking', 350)]

In [38]:
obj.insertCustomer("Harry Potter", "8024727382", "England")

In [40]:
obj.insertCustomer("Iron man","3245678901","New York")

In [41]:
obj.insertCustomer ("Tony Stark" ,"7572846374","America")

In [42]:
obj.printCustomer()

[(1, 'Harry Potter', 8024727382, 'England'),
 (2, 'Iron man', 3245678901, 'New York'),
 (3, 'Tony Stark', 7572846374, 'America')]

In [35]:
obj.commit()
obj.close()